* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Roboto";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
}
.container {
  display: flex;
  flex-flow: column;
  background-color: rgb(214, 177, 14);
  width: 70%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.container > header {
  width: 100%;
  color: #fff;
  padding: 10px;
}
.container > header > h1 {
  font-family: "Staatliches", cursive;
}
.container > header > input {
  width: 90%;
  background-color: rgb(185, 151, 0);
  border: none;
  line-height: 2em;
  font-size: 18px;
  border-radius: 12px;
  margin: 10px;
  padding: 0 10px;
  outline: none;
}

.container > section {
  width: 100%;
  background-color: #088;
  border-radius: 40px 0 0 0;
}

.container > section > .todo-list {
  width: 100%;
  margin-bottom: 5px;
}
.container > section > .todo-list > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 5px 20px;
}
.container > section > .todo-list > ul > li {
  width: 100%;
  margin-top: 5px;
}
.container > section > .todo-list > ul > li:hover > .view > button {
  visibility: visible;
}
.container > section > .todo-list > ul > li > .view {
  width: 100%;
  line-height: 40px;
  background-color: #088;
}

.container > section > .todo-list > ul > li > .view > .round {
  position: relative;
  float: left;
}

.container > section > .todo-list > ul > li > .view > .round label {
  background-color: rgb(185, 151, 0);
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 20px;
}

.container > section > .todo-list > ul > li > .view > .round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  left: 3px;
  opacity: 0;
  position: absolute;
  top: 4px;
  transform: rotate(-45deg);
  width: 10px;
}

.container
  > section
  > .todo-list
  > ul
  > li
  > .view
  > .round
  input[type="checkbox"] {
  visibility: hidden;
}

.container
  > section
  > .todo-list
  > ul
  > li
  > .view
  > .round
  input[type="checkbox"]:checked
  + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.container
  > section
  > .todo-list
  > ul
  > li
  > .view
  > .round
  input[type="checkbox"]:checked
  + label:after {
  opacity: 1;
}
.container > section > .todo-list > ul > li > .view > label {
  font-weight: 700;
  color: #fff;
  float: left;
  margin-left: 20px;
}
.complited > .view > label{
  color: #099 !important;
  font-weight: 100 !important;
  text-decoration: line-through #fff ;
}
.complited {
  background-color: #044 ;
  border-radius: 12px;
  padding-left: 20px;
  
}
.visibility{
  visibility: hidden;
}
.container > section > .todo-list > ul > li > .view > button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 16px;
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 5px;
  visibility: hidden;
  outline: none;
}
.container > section > .todo-list > ul > li > .view > button:hover {
  color: #fff;
  cursor: pointer;
}
footer {
  display: flex;
  background-color: #088;
  border-radius: 0 0 8px 8px;
  width: 100%;
  padding: 10px;
  justify-content: space-around;
  align-items: baseline;
  line-height: 25px;
}
footer > label {
  font-size: 12px;
  color: #fff;
}
footer button {
  font-size: 12px;
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 5px;
  color: #fff;
}
footer button:hover {
  color: rgb(185, 151, 0);
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .container {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 60%;
  }
}
@media only screen and (min-width: 900px) {
  .container {
    width: 40%;
  }
}
